
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    color: #323232;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
}

h1 {
    font-size: 3em;
}

h1,
h2,
h3,
footer,
ul,
.impress p,
.intro {
    text-align: center;
}

h3 {
    font-style: italic;
    text-decoration: underline;
}

.intro {
    margin: 3% auto;
}

hr {
    margin: 2% 10%;
}

footer {
    margin: 2% 0
}

ul {
    list-style: none;
    padding: 0;
}

a,
h1 a:hover {
    color: black;
    text-decoration: underline;
}

h1 a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section div {
    margin: 0 10%;
}

input {
    display: block;
    width: 16em;
    margin: 1em auto;
    border: 1px solid black;
    padding: 5px;
    line-height: 2em;
    font-size: .7em;
}

input.submit {
    width: 8em;
    background: black;
    opacity: .8;
    color: white;
    cursor: pointer;
}

input.submit:hover {
    opacity: 1;
}

textarea {
    display: block;
    width: 16em;
    height: 6em;
    margin: auto;
    border: 1px solid black;
    padding: 5px;
    font-size: .7em;
}

.status {
    margin-top: 5%;
    text-align: center;
    font-weight: bold;
}

.about li,
.socialize li {
    margin: 3% auto;
}

@media screen and (min-width: 800px) {
    a,
    h1 a:hover {
        text-decoration: none;
    }

    section {
        display: flex;
    }

    section div:not(.border):not(.status) {
        width: 50%;
    }

    section div.border {
        margin: 0;
        border: 1px solid black;
    }

    hr.mobile {
        display: none;
    }
}